* {
  font-family: Helvetica Neue;
}

/* // TOP DIV */

.container {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.95);
  color: black;
  margin-bottom: 200px;
}

.topbar {
  padding-bottom: 50px;
  padding-top: 50px;
}

.title-flexible-fontsize {
  font-size: 50px;
  line-height: 50px;
  z-index: 3;
}

.title-flexible-fontsize-600 {
  font-size: 30px;
  line-height: 30px;
}

.title {
  font-weight: 600 !important;
  letter-spacing: .3em;
}

.subtitle-flexible-fontsize {
  padding-top: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400 !important;
  letter-spacing: .3em;
  opacity: 0.9
}

@media screen and (max-width: 600px) {
  .title-flexible-fontsize {
    font-size: 30px;
    line-height: 30px;
  }
}

/* // PHOTOS CONTAINER */

.fancybox-toolbar {
  visibility: hidden !important; 
}

.padding-top-200 {
  padding-top: 182px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.7);
}

.text {
  color: black;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio:hover .overlay {
  opacity: 1;
}


/* FOOTER */
.socialicon {
  height: 40px;
  margin: 8px;
  width: 40px;
}

.footer-widget-title {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: .1em;
  color: white;
  font-weight: 400 !important;
  margin: 0px 0px 15px;
}

.footer-top-padding {
  padding-top: 30px;
  padding-bottom: 20px;
}

.copyright-div {
  padding-top: 20px;
}
